<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Pet</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/normalize.css">
    <link rel="stylesheet" href="../public/reset.css">
  </head>
  <body>
    <header>
      <h1>Virtual Pet!</h1>
    </header>
    <main>
      <section class="dashboard">
        <div>Name: <strong><span class="name"></span></strong></div>
        <div>Weight: <strong><span class="weight"></span> pounds</strong></div>
        <div>Happiness: <strong><span class="happiness"></span> tail wags (per min)</strong></div>
        <div class="button-container">
          <button class="treat-button">Treat</button>
          <button class="play-button">Play</button>
          <button class="exercise-button">Exercise</button>
        </div>
      </section>
      <section class="pet-container">
        <div class="pet-image-container">
          <img id="petImage" src="../public/pets/dog.png">
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
  <script src="../public/client.js"></script>
</html>
