* {
  box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  background-image: url(../public/background-images/petbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align: center;
}
.dashboard {
  text-align: center;
}
#petImage {
  height: 200px;
  position: absolute;
}
.pet-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pet-image-container {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 60rem;
  border: 5px solid black;
  border-radius: 5rem;
  background-image: url(../public/background-images/GrassBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}